body { 
    background: url(/Users/coreysawin/Development/code/prework/my-personal-website/images/profpic.JPG) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  h1 {
    text-align: center;
    color: red;
    font-size: 50px;
  }
  
  .topnav{
    text-align: center;
  }
  .topnav a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  .topnav a:hover{
    background-color: red;
    color: black;
  }


  h2 {
    text-transform: capitalize;
  }
  

  p{
    color:white;
    font-size: larger;
    background-color: black;

  }